html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,red,salmon);
}
.seccion-productos{
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0.5em;
gap: 1em;
border: 0.1em dashed gold;
}

.producto{
    border:0.2em solid black;
    padding: 0;
    list-style-type: none;
    box-shadow: 0.2em 0.2em 0.2em black;
    display: flex;
    flex-direction: row;
    max-height: 20em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.producto img{
    max-width: 100%;
    height: 40%;
    object-fit: cover;
    box-shadow: 0.3em 0.3em 0.3em black;
}
.precio{
    font-weight: bolder;
}
.producto button:hover{
background-color: gray;
width: 5em;
height: 2em;
}
.carusel-opiniones{
   background-image: linear-gradient(to bottom,rgb(255, 255, 255),salmon);
    display: flex;
    gap: 3em;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.opinion{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2em black;
    padding: 0.2em;
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: end ;
}