html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor--flexible{
    border: 0.2em solid rgb(100, 15, 126);
    padding: 0.5em;
    display: flex;
    /*flex-direction (row,colum, row-revese,column-reverse,)*/
    flex-direction: row;
    /*justify-content:(flex-start, flex-end, center, space-between, spacearaound,spece evely, MAINAXIS_X)*/
    justify-content: space-between;
    /*align-items (flex-start, flex-end, center, stretch,baseline)*/
    align-items: stretch;
    flex-wrap: wrap;
}
.contenedor--flexible div{
    background-color: rgb(137, 137, 231);
    border: 0.1em solid rgb(100, 15, 126) ;
    height: 10em;
    width: 30em;
    margin: 0.5em;
    /*flex-grow: 1;se va ajustando en la misma pagina*/ 
    /*flex-shrink: 0;*/
}
#clase_logo ul{
    list-style-type:none;
    display: flex;
    padding: 0;
    flex-direction: row;
}

#clase_logo ul li{
    margin: 0.2em;
}
/* Propiedades flex*/
.obj1{
    order: 1;
}
.obj2{
    order: -2;
    flex-grow: 1;
}
.obj3{
    flex-grow: 1;
order: 3;
}
.obj4{
    order: -4;
}
#clase_logo{
    border: 0.2em solid rgb(100, 15, 126);
    padding: 0.5em;
    display: flex;
    /*flex-direction (row,colum, row-revese,column-reverse,)*/
    flex-direction: row;
    /*justify-content:(flex-start, flex-end, center, space-between, spacearaound,spece evely, MAINAXIS_X)*/
    justify-content: space-between;
    /*align-items (flex-start, flex-end, center, stretch,baseline)*/
    align-items: center;
    flex-wrap: wrap;
}
#clase_logo nav{
border: 0.1em solid rgb(100, 15, 126);
}
#clase_logo img{
    width: 15em;
    height: 10em;
    border-radius: 10%;
    padding: 1em;
}
@media screen and (max-width: 750px){
    #clase_logo ul{
    border: 0.1em solid pink;
    list-style-type:none;
    display: flex;
    flex-direction: column;
    padding: 0.1em;
    font-size: 0.8em;
    }

    #clase_logo h1{
       font-size:1.5em;
    }

    #clase_logo img{
        width: 16%;
        height: 18%;    
    }
    .obj1{
    order:1;
}
    .obj2{
    order: 2;
        flex-grow: 0;
}
    .obj3{
    order: 3;
    flex-grow: 0;
}
    .obj4{
    order: 4;   
}
}